name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check-headers:
    name: Check Headers
    runs-on: ubuntu-latest
    
    steps:
      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Check Header
        run: |
          npx check-my-headers https://juice-shop.herokuapp.com/#/


